.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    align-items: center;
   
}
.res-link{
    text-decoration: none;
    color:initial;
}


.logo{
    width: 100px;
 
}

.nav-item > ul {
    font-size: 20px;
    display: flex;
    padding: 0 20px;
    list-style-type: none;
  
}

.nav-item >ul >li {
    padding: 10px;
    margin: 10px;
   
}

.res-container {
 margin-left: 30px;
  display: flex;
  flex-wrap: wrap;      
  gap: 10px;
}
.res-card{
    margin: 5px;
    padding: 5px;
    width: 300px;
    height:500px;
   
    background-color: lightgrey;
}
.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}


.rest-logo{
    width: 100%;
    
}

.filter{
    margin:10px;
}
.user-card{
    padding:10px;
    margin-top:10px;
    border: 1px black solid;
}